@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
.dash {
  border-radius: 50px;
  width: min-content;
}
.faSearch {
  position: absolute;
  margin-bottom: 122px;
}
.sidebar {
  background-color: #053354;
  color: white;
  font-weight: bold;
  font-size: 10pt;
}
.sidebar ul {
  text-align: center;
}
.sidebar ul li {
  padding: 5px;
}
hr {
  background-color: white;
}
a {
  color: whitesmoke;
}
.body {
  background-image: url(../image/user-profile-bg.jpg);
}
.bodyLogin {
  background-color: #98ffd7;
  background-repeat: no-repeat;
  height: 88vh;
  width: 101%;
}
.loginPage {
  background-color: #fbfbfb;
  height: 70vh;
  text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loginRight {
  background-image: linear-gradient(#72d7b7, #18c27b);
  height: 70vh;
  z-index: 999;
}
.wrapRight {
  margin-top: 90px;
}
.loginRight .loginRightOne {
  color: #fffafc;
  font-size: 25pt;
  font-weight: bolder;
}
.loginRightTwo {
  color: #fffbff;
  font-weight: bolder;
  font-size: 36pt;
}
.loginRightThree {
  color: #caf7e3;
  font-weight: bolder;
  font-size: 15pt;
}
.triangle {
  width: 60px;
  height: 60px;
  background-color: #3c3b37;
  position: absolute;
  left: 42%;
  top: 42%;
  border-radius: 0 10px 0 0;
  transform: rotate(45deg);
}
.buttonSignIn {
  background-image: linear-gradient(#f8c333, #f5cb18, #f6d500);
  width: 125px;
  border-radius: 35px;
  box-shadow: darkorange;
  transition: 0.6s;
  overflow: hidden;
}
.username {
  border-top: none !important;
  border-right: none !important;
  border-bottom: 1px solid #e0e0e0 !important;
  border-left: none !important;
  background-color: #fbfbfb !important;
  width: 300px;
  margin-left: -5px;
  font-family: 'Yantramanav', sans-serif;
  font-weight: bold;
  text-align: left;
}
label {
  margin-left: 20px;
}
.loginInput {
  margin-top: 50px;
  margin-left: 80px;
}
.spanSignIn {
  font-size: 3em;
  font-family: 'Source Code Pro', monospace;
  padding: 100px;
}