Button {
    text-decoration: none !important;
    display: inline-block !important;
    padding: 8px 16px;
}
  
Button:hover {
background-color: #ddd !important;
color: black !important;
}

.previous {
color: black ;
border-radius: 50% !important;
}

.next {
background-color: cornflowerblue !important;
color: white !important;
border-radius: 50% !important;
}
