.rowCard {
    background-color: lightgray;
}
.bus {
    font-size: 2em;
    background-image: linear-gradient(-90deg, #dd4b39, orange);
    display: flex;
    align-items: center;
    margin: 12px;
}
.route {
    background-image: linear-gradient(-90deg, #00c0ef, #00b1ff);
    font-size: 2em;
    display: flex;
    align-items: center;
    margin: 12px;
}
.agent {
    font-size: 2em;
    background-image: linear-gradient(-90deg, #00a65a, lightgreen);
    display: flex;
    align-items: center;
    margin: 12px;
}
.schedule {
    background-image: linear-gradient(-90deg, #f39c12, burlywood);
    font-size: 2em;
    display: flex;
    align-items: center;
    margin: 12px;
}